<div class="card">

  <div class="card-header">
    Items in Cart: {{cartCount}}
    <button type="button" class="btn btn-sm btn-secondary float-right" (click)="emptyCart()">Empty Cart</button>
  </div>

  <div class="card-body">

    <div class="row" *ngFor="let item of shopCartItems">
      <div class="col-12 col-sm-6">
        {{item.name}}
      </div>
      <div class="col-6 col-sm-3 text-right">
        {{item.price | currency}}
      </div>
      <div class="col-6 col-sm-3">
        <input type="number"
          class="form-control form-control-sm"
          ng-maxlength="2" 
          [(ngModel)]="item.quantity"
          (change)="calculateCart(item)"
          onkeyup="restrictQuantity(this)">
      </div>
    </div>

    <div class="row">
      <div class="col-6 col-sm-9 text-right">
        Cart Total: {{cartTotal | currency}}
      </div>
      <div class="col-6 col-sm-3"></div>
    </div>

    <div class="row">
      <div class="col-12 text-center mt-3">
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
      </div>
    </div>

  </div>

</div>
