<app-page-header [id]="headerId" [title]="headerTitle" [subtext]="headerSubtext"></app-page-header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p>
                    Do you have any questions? Please do not hesitate to contact us directly. 
                    Give us a call or send us an email and we will get back to you as soon as possible!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 text-center">
                <i class="fa fa-phone"></i>
                <p>
                    <a href="tel:+15183993556">518-399-3556</a>
                </p>
            </div>
            <div class="col-sm-6 text-center">
                <i class="fa fa-envelope"></i>
                <p>
                    <a href="mailto:SherriPaullsSalon@yahoo.com">SherriPaullsSalon@yahoo.com</a>
                </p>
            </div>
        </div>

        <div class="row">

            <!-- <div class="col-lg-5 mb-lg-0 mb-4">
        
                <div class="card">
                    <div class="card-body">
                        <form (ngSubmit)="submitContactForm()" method="POST" >
                            <div class="">
                                <label for="form-name">Name</label>
                                <input 
                                type="text" 
                                id="form-name" 
                                class="form-control"
                                name="name"
                                [(ngModel)]="formName"
                                required
                                #nameInput="ngModel">
                                <div class="alert alert-danger" *ngIf="nameInput.errors && nameInput.touched">
                                    Please enter your name.
                                </div>
                            </div>
                            <div class="">
                                <label for="form-email">Email</label>
                                <input 
                                type="text" 
                                id="form-email" 
                                class="form-control"
                                name="email"
                                [(ngModel)]="formEmail"
                                required
                                email
                                #emailInput="ngModel">
                                <div class="alert alert-danger" *ngIf="emailInput.errors && emailInput.touched">
                                    Please enter a valid email.
                                </div>
                            </div>
                            <div class="">
                                <label for="form-text">Message</label>
                                <textarea 
                                id="form-message" 
                                class="form-control"
                                name="message"
                                [(ngModel)]="formMessage"
                                required
                                #messageInput="ngModel"></textarea>
                                <div class="alert alert-danger" *ngIf="messageInput.errors && messageInput.touched">
                                    Please enter a message.
                                </div>
                            </div>
                            <div class="text-center mt-3">
                                <button class="btn btn-sm btn-primary" type="submit">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
        
            </div> -->

            <div class="col-12">
        
                <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11705.049619010759!2d-73.9621217!3d42.8250706!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3e68ceccb2d37cf8!2sSherri+Paull&#39;s+Salon!5e0!3m2!1sen!2sus!4v1545177995927" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            
                <!-- <div class="row text-center">
                    <div class="col-6">
                        <i class="color-primary fas fa-map-marker-alt"></i>
                        <p>Scotia, New York</p>
                    </div>
                    <div class="col-6">
                        <i class="color-primary fa fa-phone"></i>
                        <p>
                            <a href="tel:+15183993556">518-399-3556</a>
                        </p>
                    </div>
                </div>   -->
            
            </div>
        
        </div>
    </div>
</section>
