<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
          <div class="card shadow-lg text-center" style="border:0;">
              <img class="img-fluid rounded-top" src="https://via.placeholder.com/300">
              <div class="card-body">
                  <h5 class="card-title">Promo One</h5>
                  <p class="card-text">
                      Lorem ipsum dolor sit amet ectetur adipelitl sed do eiusmod tempor incidid
                  </p>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="card shadow-lg text-center" style="border:0;">
              <img class="img-fluid rounded-top" src="https://via.placeholder.com/300">
              <div class="card-body">
                  <h5 class="card-title">Promo Two</h5>
                  <p class="card-text">
                      Lorem ipsum dolor sit amet ectetur adipelitl sed do eiusmod tempor incidid
                  </p>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="card shadow-lg text-center" style="border:0;">
              <img class="img-fluid rounded-top" src="https://via.placeholder.com/300">
              <div class="card-body">
                  <h5 class="card-title">Promo Three</h5>
                  <p class="card-text">
                      Lorem ipsum dolor sit amet ectetur adipelitl sed do eiusmod tempor incidid
                  </p>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>