.page-footer {
    color: #fefefe;
    font-size: .75em;
    padding: 20px 0;
    .footer-header {
        text-transform: uppercase;
        font-size: 1.15em;
        font-weight: 700;
        padding: 5px 0;
    }
}

ul.social-buttons {
    margin-bottom: 0;
    li {
        i {
            color: white;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover,
            &:focus,
            &:active {
                color: $secondary;
            }
        }
    }
}
