<div class="row" *ngIf="servicePricing">
    <div class="col-lg-12">
        <div *ngIf="servicePricing.name">
            <h2 class="text-center">
                {{servicePricing.name}}
            </h2>
            <hr>
        </div>
        <p *ngIf="servicePricing.desc">
            {{servicePricing.desc}}
        </p>
        <ul class="price-list" *ngIf="servicePricing.items">
            <li *ngFor="let item of servicePricing.items" class="price-list-item">
                <h5 *ngIf="item.name">{{item.name}}</h5>
                <p *ngIf="item.desc">{{item.desc}}</p>
                <ul *ngIf="item.rates">
                    <li *ngFor="let rate of item.rates">
                        <div class="row">
                            <div class="col-xs-9">
                                <span *ngIf="rate.label">
                                    {{rate.label}}
                                </span>
                            </div>
                            <div class="col-xs-3 pull-right text-right">
                                <span *ngIf="rate.price">
                                    {{rate.price}}
                                </span>
                            </div>  
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <em *ngIf="servicePricing.subtext">
            {{servicePricing.subtext}}
        </em>
    </div>
</div>
