<div *ngIf="servicePricing">
    <div class="row">
        <div class="col-3 offset-9 text-right">
            <em class="small">Starting At</em>
        </div>
    </div>

    <ul class="price-list">
        <li *ngFor="let item of servicePricing" class="price-list-item">
            <h5 *ngIf="item.name">{{item.name}}</h5>
            <p *ngIf="item.desc">{{item.desc}}</p>
            <ul *ngIf="item.rates">
                <li *ngFor="let rate of item.rates">
                    <div class="row">
                        <div class="col-9">
                            <span *ngIf="rate.label">
                                {{rate.label}}
                            </span>
                        </div>
                        <div class="col-3 text-right">
                            <span *ngIf="rate.price">
                                {{rate.price}}
                            </span>
                        </div>  
                    </div>
                </li>
            </ul>
        </li>
    </ul>

</div>
