<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
  <div class="container">
    <a class="navbar-brand" routerLink="/home" routerActiveLink="active">
      <span class="pouty-font">Sherri Paull's</span> 
      &#160;Salon <small>&amp;</small> Spa
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto" onclick="collapseNav()">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerActiveLink="active">Home
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/salon" routerActiveLink="active">Salon
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/spa" routerActiveLink="active">Spa
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/staff" routerActiveLink="active">Stylists
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/shop" routerActiveLink="active">Shop
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerActiveLink="active">Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Content -->
<router-outlet (activate)="onActivate($event)"></router-outlet>

<!-- Footer -->
<footer class="bg-dark page-footer">
  <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <div class="footer-header">
            Connect
          </div>
          <div>
            Email promotions, news, and information
            <div class="input-group mt-2 mb-2">
              <input type="text" class="form-control form-control-sm" placeholder="address@example.com" aria-label="Email address" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-sm btn-primary" type="button">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-header">
            Contact
          </div>
          <div>
              <a class="secondary-link" href="tel:+15183993556">518-399-3556</a><br />
              <a class="secondary-link" href="mailto:sherripaullssalon@yahoo.com">SherriPaullsSalon@yahoo.com</a>
          </div>
          <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/Sherri-Paulls-Salon-Spa-380672802058/">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/sherrispa/">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <div class="footer-header">
            Visit
          </div>
          <a class="secondary-link" href="#">105 Mohawk Ave, Scotia, NY 12302</a><br />
          Tue - Fri 10:00 AM - 6:00 PM <br />
          Sat - Su 10:00 AM - 3:00 PM
        </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-2">
        &copy; 2018 Sherri Paull's Salon &amp; Spa
      </div>
    </div>
  </div>
</footer>