<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
  <div class="container">
    <a class="navbar-brand" routerLink="/home" routerActiveLink="active">
      <span class="pouty-font">Sherri Paull's</span> 
      &#160;Salon <small>&amp;</small> Spa
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto" onclick="collapseNav()">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerActiveLink="active">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/salon" routerActiveLink="active">Salon
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nails" routerActiveLink="active">Nails
          </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="/spa" routerActiveLink="active">Spa
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/staff" routerActiveLink="active">Stylists
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop" routerActiveLink="active">Shop
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerActiveLink="active">Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Content -->
<router-outlet (activate)="onActivate($event)"></router-outlet>

<!-- Footer -->
<footer class="bg-dark page-footer">
  <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <div class="footer-header">
            Connect
          </div>
          <div>
            Signup for weekly email promotions, news, and information
            <!-- <div class="input-group mt-2 mb-2">
              <input type="text" class="form-control form-control-sm" placeholder="address@example.com" aria-label="Email address" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-sm btn-primary" type="button">Subscribe</button>
              </div>
            </div> -->
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup" class="mt-2 mb-2">
              <form ngNoForm action="https://sherripaullssalon.us17.list-manage.com/subscribe/post?u=26d63ed791b8a70d1b8ff6ec4&amp;id=923b8d94ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll" class="input-group">
                  <div class="mc-field-group">
                    <input type="email" value="" name="EMAIL" placeholder="address@example.com" class="required email form-control form-control-sm" id="mce-EMAIL" aria-label="Email address" aria-describedby="basic-addon2">
                  </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_26d63ed791b8a70d1b8ff6ec4_923b8d94ef" tabindex="-1" value="">
                  </div>
                  <div class="clear input-group-append">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-sm btn-primary">
                  </div>
                </div>
              </form>
            </div>
            <!--End mc_embed_signup-->
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-header">
            Contact
          </div>
          <div>
              <a class="secondary-link" href="tel:+15183993556">518-399-3556</a><br />
              <a class="secondary-link" href="mailto:sherripaullssalon@yahoo.com">SherriPaullsSalon@yahoo.com</a>
          </div>
          <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/Sherri-Paulls-Salon-Spa-380672802058/">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/sherrispa/">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <div class="footer-header">
            Visit
          </div>
          <a class="secondary-link" href="#">105 Mohawk Ave, Scotia, NY 12302</a><br />
          Tue 10:00 AM - 6:00 PM <br />
          Wed 10:00 AM - 8:00 PM <br />
          Thu 10:00 AM - 8:00 PM <br />
          Fri 10:00 AM - 6:00 PM <br />
          Sat 10:00 AM - 3:00 PM
        </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-2">
        &copy; 2018 Sherri Paull's Salon &amp; Spa
      </div>
    </div>
  </div>
</footer>