<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Meet Our Staff</h2>
                <hr class="my-4">
            </div>
        </div>
        <div class="row">
            <div *ngFor="let employee of employees" class="col-sm-3 col-md-2 text-center">
                <img src="https://via.placeholder.com/150" class="staff-img" />
                <h6>{{employee.name}}</h6>
                <em>{{employee.title}}</em>
            </div>
        </div>
    </div>
</section>
