@font-face {
    font-family: 'pouty';
    src: url('pouty_script_regular-webfont.woff2') format('woff2'),
         url('pouty_script_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}