<app-page-header [id]="headerId" [title]="headerTitle" [subtext]="headerSubtext"></app-page-header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <img class="img-fluid" src="assets/img/welcome.png" alt="welcome">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="p-5">
                    <h2>Treat yourself</h2>
                    <p>
                        Once at Sherri Paull's Salon, you will experience an inviting atmosphere and receive 
                        the highest quality of professionalism and contemporary service from our team of 
                        experienced stylists, colorists, nail technicians, estheticians and licensed massage therapists.
                    </p>
                    <p>
                        Call <a href="tel:+15183993556">518-399-3556</a> to book your appointment today!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="parallax map-parallax"></div> -->

<section class="bg-primary">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="card shadow-lg text-center" style="border:0;">
                    <img class="img-fluid rounded-top" src="assets/img/service_02.jpg" alt="cut and color">
                    <div class="card-body">
                        <h5 class="card-title">
                            Cut <small>&amp;</small> Color
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet ectetur adipelitl sed do eiusmod tempor incidid
                        </p>
                        <a routerLink="/salon" routerActiveLink="active">
                            More Info
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="card shadow-lg text-center" style="border:0;">
                    <img class="img-fluid rounded-top" src="assets/img/service_01.jpg" alt="spa services">
                    <div class="card-body">
                        <h5 class="card-title">Spa Services</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet ectetur adipelitl sed do eiusmod tempor incidid
                        </p>
                        <a routerLink="/spa" routerActiveLink="active">
                            More Info
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="card shadow-lg text-center" style="border:0;">
                    <img class="img-fluid rounded-top" src="assets/img/service_03.jpg" alt="nail treatment">
                    <div class="card-body">
                        <h5 class="card-title">Nail Treatments</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet ectetur adipelitl sed do eiusmod tempor incidid
                        </p>
                        <a routerLink="/nails" routerActiveLink="active">
                            More Info
                        </a>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    Our professional team is up to date on the latest contemporary styles, coloring, and relaxation techniques, 
                    with a primary focus on the client's needs for a "satisfaction guaranteed" result. The team continually updates 
                    their expertise by attending classes, including the annual New York City Hair Convention.
                </p>
                <p>
                    We specialize in the Wella color line and hold "in salon" education. Our team is current in the latest innovation in color 
                    techniques and application, working creatively to share ideas with technicians and clientele.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5 mx-auto">
                    <img class="img-fluid" src="assets/img/product_01.jpg" alt="product 1">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5 mx-auto">
                    <img class="img-fluid" src="assets/img/product_02.jpg" alt="product 2">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5 mx-auto">
                    <img class="img-fluid" src="assets/img/product_03.jpg" alt="product 3">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5 mx-auto">
                    <img class="img-fluid" src="assets/img/product_04.jpg" alt="product 4">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" style="display:none;">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                Reviews? Contact form?
            </div>
    
        </div>
    </div>
</section>
