<section class="section-alt">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <img src="https://placehold.it/350x350" />
          </div>
          <div class="col-sm-6">
              <hr>
              <h2 class="intro-text text-center">
                About us
              </h2>
              <hr>
              <img class="img-responsive img-border img-left" src="img/intro-pic.jpg" alt="">
              <hr class="visible-xs">
              <p>Sherri Paull's Salon has been an established business since 1996. Once at Sherri Paull's Salon, you will experience an inviting atmosphere and receive the highest quality of professionalism and contemporary service from our team of experienced stylists, colorists, nail technicians, estheticians and licensed massage therapists.</p>
              <p>Sherri Paull's professional team is up to date on the latest contemporary styles, coloring, and relaxation techniques, with a primary focus on the client's needs for a "satisfaction guaranteed" result. The team continually updates their expertise by attending classes, including the annual New York City Hair Convention.</p>
              <p>Sherri Paull's Salon uses the Wella color line, holding "in salon" education. Our team is current in the latest innovation in color techniques and application, working creatively, sharing ideas with technicians and clientele.</p>
              <p>Join us to relax, refresh, and rejuvenate - you deserve it!</p>
          </div>
      </div>
  </div>
</section>

<section class="section-alt">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <hr>
              <h2 class="intro-text text-center">
                  Products we use
              </h2>
              <hr>
              <div class="row products">
                <div class="col-sm-6 col-md-4 text-center">
                    Wella
                    <img src="https://via.placeholder.com/100">
                </div>
                <div class="col-sm-6 col-md-4 text-center">
                    Kenra
                    <img src="https://via.placeholder.com/100">
                </div>
                <div class="col-sm-6 col-md-4 text-center">
                    Paul Mitchell
                    <img src="https://via.placeholder.com/100">
                </div>
                <div class="col-sm-6 col-md-4 text-center">
                    Sebastian
                    <img src="https://via.placeholder.com/100">
                </div>
              </div>
          </div>
      </div>
  </div>
</section>
